<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Uberblock - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->
    <link href="{{ .Site.RSSLink }}" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
